.map { padding: 10px; }
.nl { clear: both; }

div.field {
  width: 40px;
  height: 40px;
  margin: 1px;
  float: left;
  display: flex;
  justify-content: center;
  position: relative;
}

.field .unit {
    width: 70%;
    height: 70%;
    background-color: gray;
    align-self: center;
}

.edgeValue {
    position: absolute;
    align-self: center;

    /* display: block; */
    float: left;
    
    /* display: flex;*/
    /* background-color: aqua;*/
    font-size: 10px;
}

.edgeValue.edge1 {
    left: 13px;
    top: 1px;
}

.edgeValue.edge2 {
    left: 25px;
    top: 13px;
}

.edgeValue.edge3 {
    left: 13px;
    top: 25px;
}

.edgeValue.edge4 {
    left: 1px;
    top: 13px;
}

.WALL {
    background-color: brown;
}

.LAND {
    background-color: antiquewhite;
}

.BASE {
    background-color: orangered;
}

.WATER {
    background-color: blue;
}

/* http://pousse.rapiere.free.fr/tome/tiles/AngbandTk/dg_grounds32.gif */